major-version: 2
javaGenVersion: v0.5.4
parallel: 3
timeout: 60
lint: true
providerDefaultBranch: master
fail-on-missing-mapping: true
fail-on-extra-mapping: true
publishRegistry: true
checkoutSubmodules: false
env:
  DOTNETVERSION: |
    6.0.x
    3.1.301
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GOVERSION: 1.21.x
  JAVAVERSION: "11"
  NODEVERSION: 20.x
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NUGET_PUBLISH_KEY: ${{ secrets.NUGET_PUBLISH_KEY }}
  PUBLISH_REPO_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
  PUBLISH_REPO_USERNAME: ${{ secrets.OSSRH_USERNAME }}
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_GO_DEP_ROOT: ${{ github.workspace }}/..
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  PYTHONVERSION: "3.9"
  SIGNING_KEY: ${{ secrets.JAVA_SIGNING_KEY }}
  SIGNING_KEY_ID: ${{ secrets.JAVA_SIGNING_KEY_ID }}
  SIGNING_PASSWORD: ${{ secrets.JAVA_SIGNING_PASSWORD }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  TF_APPEND_USER_AGENT: pulumi
  TRAVIS_OS_NAME: linux
actions:
  setupPulumi:
    - name: Install Pulumi CLI
      uses: pulumi/action-install-pulumi-cli@v2
  setupGo:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.21.x
        cache-dependency-path: |
          sdk/go.sum
  # preBuild:
  #  - Your action here
  # preTest:
  #  - Your action here

# Additional tests run as part of `run-acceptance-tests.yml`, `master.yml`, `main.yml`,
# `prerelease.yml` and `release.yml`.
extraTests:
#   your_test_name:
#     name: My Test
#     ...
runner:
  default: ubuntu-latest
  # publish: ubuntu-latest
  # buildSdk: ubuntu-latest
actionVersions:
  setupDotNet: actions/setup-dotnet@v3
  setupJava: actions/setup-java@v3
  setupGradle: gradle/gradle-build-action@v2
  setupNode: actions/setup-node@v2
  setupPython: actions/setup-python@v2

  configureAwsCredentials: aws-actions/configure-aws-credentials@v1
  setupGcloud: google-github-actions/setup-gcloud@v0
  googleAuth: google-github-actions/auth@v0
  goReleaser: goreleaser/goreleaser-action@v2
  installGhRelease: jaxxstorm/action-install-gh-release@v1.5.0
  checkout: actions/checkout@v3
  cleanupArtifact: c-hive/gha-remove-artifacts@v1
  createOrUpdateComment: peter-evans/create-or-update-comment@v1
  downloadArtifact: actions/download-artifact@v2
  notifySlack: 8398a7/action-slack@v3
  pathsFilter: dorny/paths-filter@v2
  prComment: thollander/actions-comment-pull-request@v2
  slashCommand: peter-evans/slash-command-dispatch@v2
  uploadArtifact: actions/upload-artifact@v2
  upgradeProviderAction: pulumi/pulumi-upgrade-provider-action@v0.0.8
  publishProviderSDKs: pulumi/pulumi-package-publisher@v0.0.11
  slackNotification: rtCamp/action-slack-notify@v2
