name: Setup Tools
description: Installs all tools (Go, Node, Python, .NET, Java, Pulumi, etc.) using mise

inputs:
  cache:
    description: Enable caching
    required: false
    default: "false"
  github_token:
    description: GitHub token
    required: true

runs:
  using: "composite"
  steps:
    - name: Get mise cache path
      id: mise-cache-path
      shell: bash
      run: echo "path=$(./scripts/mise.sh cache path)" >> "$GITHUB_OUTPUT"
    - name: Restore mise cache
      if: inputs.cache == 'true'
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path: ${{ steps.mise-cache-path.outputs.path }}
        key: mise-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('mise*.toml', '.config/mise*.toml') }}
        restore-keys: mise-${{ runner.os }}-${{ runner.arch }}-
    - name: Restore mise cache
      if: inputs.cache != 'true'
      uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # v5
      with:
        path: ${{ steps.mise-cache-path.outputs.path }}
        key: mise-${{ runner.os }}-${{ runner.arch }}-${{ hashFiles('mise*.toml', '.config/mise*.toml') }}
        restore-keys: mise-${{ runner.os }}-${{ runner.arch }}-
    - name: Setup mise
      shell: bash
      run: ./scripts/mise.sh install
      env:
        MISE_GITHUB_TOKEN: ${{ inputs.github_token }}

    - name: Setup Go Cache
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        cache: ${{ inputs.cache }}
        cache-dependency-path: |
          provider/*.sum
          upstream/*.sum
          sdk/go/*.sum
          sdk/*.sum
          *.sum

    - name: Setup Node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      with:
        # we don't set node-version because we install with mise.
        # this step is needed to setup npm auth
        registry-url: https://registry.npmjs.org
