# This generates a cache for our mise toolchain using the master branch. This
# allows PRs to use the cache instead of re-installing tools from scratch every
# time, which can be flakey.

name: Cache mise tools

on:
  push:
    branches:
      - master
    paths:
      - "mise.toml"
  workflow_dispatch: {}

jobs:
  cache-tools:
    name: Install and cache mise tools
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Install mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
        with:
          version: 2025.7.12
