permissions: write-all # Equivalent to default permissions plus id-token: write
# This calls close_outdated_bridge_prs.py as part of a daily cron.
#
name: Close pulumi-bot PRs
on:
  schedule:
  # 4 AM UTC ~ 9 PM PDT - specifically selected to avoid putting load on the CI system during working hours.
  - cron: 0 4 * * *
  workflow_dispatch: null
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN
jobs:
  close-outdated-prs:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: ./scripts/close_outdated_bridge_prs.py
