name: Merge Dependabot PRs

on:
  workflow_dispatch: {}
  schedule:
    # 4:00AM every 4 days.
    - cron:  '0 4 01/4 * *'
env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}

jobs:
  generate-providers-list:
    name: "Generate Providers List"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - id: get-providers
        run: echo "providers=$(jq . providers.json --compact-output)" >> "$GITHUB_OUTPUT"
        working-directory: provider-ci
    outputs:
      providers: ${{ steps.get-providers.outputs.providers }}

  update_workflows:
    name: "Combine and merge Dependabot PRs"
    needs: generate-providers-list
    runs-on: ubuntu-latest
    steps:
      - name: Clone ci-mgmt
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: gh auth setup-git
      - run: git config --global user.email "bot@pulumi.com"
      - run: git config --global user.name "pulumi-bot"
      - run: ./scripts/merge_dependabot.sh ${{ matrix.provider }}
    strategy:
      fail-fast: false
      # GitHub recommends only issuing 1 API request per second, and never
      # concurrently.  For more information, see:
      # https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits
      max-parallel: 1
      matrix:
        provider: ${{ fromJson(needs.generate-providers-list.outputs.providers ) }}
