permissions: write-all # Equivalent to default permissions plus id-token: write
name: Refresh Provider GH Branch Protection Settings
on:
  workflow_dispatch: {}
env:
  GITHUB_OWNER: pulumi
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
jobs:
  deployment:
    if: github.event_name == 'workflow_dispatch'
    name: Pulumi Refresh
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 18.x
      - run: npm install
        working-directory: infra/providers
      - uses: pulumi/actions@d7ceb0215da5a14ec84f50b703365ddf0194a9c8 # v6
        with:
          command: refresh
          stack-name: pulumi/production
          work-dir: infra/providers
          github-token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
          PULUMI_ACCESS_TOKEN: ${{ steps.esc-secrets.outputs.PULUMI_ACCESS_TOKEN_PRODUCTION }}
