# Generates a PR for the files in native-provider-ci/providers/* to the corresponding
# Pulumi provider. Note that this workflow does not generate any files -
# workflows must already be generated and committed to this repo when this
# workflow is run.
name: Update GH workflows, single native provider
"on":
  workflow_dispatch:
    inputs:
      provider_name:
        description: The name of the provider to deploy - do not include the pulumi prefix in the name.
        required: true
        type: string
env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Clone ci-mgmt
        uses: actions/checkout@v2
        with:
          path: ci-mgmt
      - name: Clone pulumi-${{ github.event.inputs.provider_name }}
        uses: actions/checkout@v2
        with:
          repository: pulumi/pulumi-${{ github.event.inputs.provider_name }}
          path: pulumi-${{ github.event.inputs.provider_name }}
      - name: Delete existing workflows
        run: |
          rm pulumi-${{ github.event.inputs.provider_name }}/.github/workflows/cleanup-artifacts.yml || echo "not found"
          rm pulumi-${{ github.event.inputs.provider_name }}/.github/workflows/pull_request.yml || echo "not found"
          rm pulumi-${{ github.event.inputs.provider_name }}/.github/workflows/master.yml || echo "not found"
      - name: Copy files from ci-mgmt to pulumi-${{ github.event.inputs.provider_name }}
        run: |
          cp -r ci-mgmt/native-provider-ci/providers/${{ github.event.inputs.provider_name }}/repo/. pulumi-${{ github.event.inputs.provider_name }}/.
      - name: Run source code migrations
        run: |
          DIR=$PWD/pulumi-${{ matrix.provider }}
          cd ci-mgmt/infra/sourcemigrator
          npx ts-node index.ts "$DIR"
      - name: Create PR
        id: create-pr
        uses: peter-evans/create-pull-request@v3
        with:
          author: Pulumi Bot <bot@pulumi.com>
          body: "This PR was automatically generated by the rollout-single-native-provider workflow in the pulumi/ci-mgmt repo."
          branch: "update-github-actions-workflows-${{ github.run_number }}"
          committer: Pulumi Bot <bot@pulumi.com>
          commit-message: "[internal] Update GitHub Actions workflow files"
          labels: "impact/no-changelog-required"
          title: "Update GitHub Actions workflows."
          path: pulumi-${{ github.event.inputs.provider_name }}
          token: ${{ secrets.PULUMI_BOT_TOKEN }}
      # - name: Set PR to auto-merge
      #   if: steps.create-pr.outputs.pull-request-operation == 'created'
      #   uses: peter-evans/enable-pull-request-automerge@v1
      #   with:
      #     token: ${{ secrets.PULUMI_BOT_TOKEN }}
      #     pull-request-number: ${{ steps.create-pr.outputs.pull-request-number }}
      #     repository: pulumi/pulumi-${{ github.event.inputs.provider_name }}
      #     merge-method: squash
