permissions: write-all # Equivalent to default permissions plus id-token: write
name: Test Provider CI
on:
  pull_request:
    branches:
      - master
  merge_group: {}
  workflow_dispatch: {}

env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Verify against testdata
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8
        with:
          working-directory: provider-ci
      - name: Configure git
        # Set the default branch to silence the warnings about the default branch name changing
        # The branch doesn't matter here because it's only used for a temp repo for actionlint
        run: git config --global init.defaultBranch master
      - name: Install mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
        with:
          version: 2025.7.12
      - name: Build & test
        run: cd provider-ci && make all
      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1

  deploy:
    name: Apply ci-mgmt changes (pulumi/pulumi-${{ matrix.provider }})
    strategy:
      matrix:
        provider: [xyz, provider-boilerplate]

    uses: ./.github/workflows/update-workflows.yml
    secrets: inherit
    with:
      provider_name: ${{ matrix.provider }}
      automerge: ${{ github.event_name == 'merge_group' }}
      downstream_test: true
      skip_closing_prs: true
      caller_workflow: "pull-request"

  downstream:
    name: Test and release provider (${{ matrix.repo }})
    runs-on: ubuntu-latest
    needs: deploy
    env:
      ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN,GITHUB_TOKEN=PULUMI_BOT_TOKEN
    strategy:
      fail-fast: false
      matrix:
        repo:
          - pulumi/pulumi-xyz
          - pulumi/pulumi-provider-boilerplate
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1

      - name: Await PR opened for ${{ matrix.repo }}
        id: pr_opened
        timeout-minutes: 1
        continue-on-error: true # Fall through if a PR wasn't created.
        run: |
          echo Await PR opened for ${{ matrix.repo }}
          until gh search prs --repo ${{ matrix.repo }} --match body "This PR was automatically generated by the pull-request workflow in the pulumi/ci-mgmt repo, from commit ${{ github.sha }}."  --json url | grep url; do sleep 30; done;
          echo "pull_request_created=true" >> "${GITHUB_OUTPUT}"

      - name: Find PR number
        if: steps.pr_opened.outputs.pull_request_created == 'true'
        id: pr_number
        run: |
          number=$(gh search prs --repo ${{ matrix.repo }} --match body "This PR was automatically generated by the pull-request workflow in the pulumi/ci-mgmt repo, from commit ${{ github.sha }}."  --json number --jq '.[0].number')
          echo "PR number is $number"
          echo "number=${number}" >> "${GITHUB_OUTPUT}"

      - name: Add needs-release label
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        run: gh pr edit --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}" --add-label "needs-release/patch"

      - name: Await first checks start
        if: steps.pr_opened.outputs.pull_request_created == 'true'
        timeout-minutes: 5
        # Wait for at least 3 checks to be started before we start waiting for them to finish.
        # There's a couple of quick checks like comment notification and changelog which are started before the PR checks.
        run: while [[ $(gh pr checks --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}" | wc -l) -le 2 ]]; do sleep 1; done

      - name: Await PR tests success
        if: steps.pr_opened.outputs.pull_request_created == 'true'
        timeout-minutes: 60
        run: gh pr checks --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}" --watch --fail-fast

      - name: Close test PR
        if: github.event_name != 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        run: gh pr close --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}"

        # The following steps are only run in the merge queue and confirm we
        # were able to successfully release.
      - name: Await PR merged
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        run: while [[ $(gh pr view --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}" --json "state" --jq ".state") == "OPEN" ]]; do sleep 1; done
        timeout-minutes: 5

      - name: Get merge commit
        id: merge_commit
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        run: |
          merge_commit_oid=$(gh pr view --repo "${{ matrix.repo }}" "${{ steps.pr_number.outputs.number }}" --json "mergeCommit" --jq ".mergeCommit.oid")
          if [[ -z "${merge_commit_oid}" ]]; then
            echo "Failed to get merge commit"
            exit 1
          fi
          echo "Merge commit oid is ${merge_commit_oid}"
          echo "oid=${merge_commit_oid}" >> "${GITHUB_OUTPUT}"

      - name: Await main build start
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        id: main_build
        run: |
          until (gh run list --repo "${{ matrix.repo }}" --workflow main --json headSha | grep -q "${{ steps.merge_commit.outputs.oid }}"); do sleep 1; done
          database_id=$(gh run list --repo "${{ matrix.repo }}" --workflow main --json "number,headSha,databaseId" | jq '.[] | select(.headSha == "${{ steps.merge_commit.outputs.oid }}") | .databaseId')
          echo "Main build started with database id ${database_id}"
          echo "id=${database_id}" >> "${GITHUB_OUTPUT}"
        timeout-minutes: 5

      - name: Await main build success
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        timeout-minutes: 60
        run: gh run watch --repo "${{ matrix.repo }}" "${{ steps.main_build.outputs.id }}" --exit-status

      - name: Get tag for release
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        id: release_tag
        timeout-minutes: 5
        run: |
          until (git ls-remote --tags "https://github.com/${{ matrix.repo }}.git" | grep -q "${{ steps.merge_commit.outputs.oid }}"); do sleep 1; done
          # Also handle annotated tags in the format refs/tags/v0.1.0^{}
          tag=$(git ls-remote --tags "https://github.com/${{ matrix.repo }}.git" | grep "${{ steps.merge_commit.outputs.oid }}" | cut -d '/' -f 3 | sed -E 's/\^\{\}$//')
          echo "Tag for release is ${tag}"
          echo "tag=${tag}" >> "${GITHUB_OUTPUT}"

      - name: Await release workflow run
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        id: release_workflow
        timeout-minutes: 5
        run: |
          until (gh run list --repo "${{ matrix.repo }}" --workflow release --branch "${{ steps.release_tag.outputs.tag }}" --json headBranch | grep -q "${{ steps.release_tag.outputs.tag }}"); do sleep 1; done
          database_id=$(gh run list --repo "${{ matrix.repo }}" --workflow release --branch "${{ steps.release_tag.outputs.tag }}" --json "databaseId" --jq '.[0].databaseId')
          echo "Release workflow started with id ${database_id}"
          echo "id=${database_id}" >> "${GITHUB_OUTPUT}"

      - name: Await release workflow success
        if: github.event_name == 'merge_group' && steps.pr_opened.outputs.pull_request_created == 'true'
        timeout-minutes: 60
        run: gh run watch --repo "${{ matrix.repo }}" "${{ steps.release_workflow.outputs.id }}" --exit-status
