name: Test Windows
on:
  pull_request:

jobs:
  test:
    name: Test Mise On Windows
    runs-on: windows-latest
    steps:
      - name: Install mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          # Latest working version. See https://github.com/jdx/mise/discussions/6781
          version: 2025.11.11
          github_token: ${{ secrets.GITHUB_TOKEN }}

