name: Test Windows
on:
  pull_request:

jobs:
  test:
    name: Test Mise On Windows
    runs-on: windows-latest
    steps:
      - name: Install mise
        uses: jdx/mise-action@9dc7d5dd454262207dea3ab5a06a3df6afc8ff26 # v3
        with:
          # Latest working version. See https://github.com/jdx/mise/discussions/6781
          version: 2025.10.16
          github_token: ${{ secrets.GITHUB_TOKEN }}

