permissions: write-all # Equivalent to default permissions plus id-token: write
# Generates a PR for the files in provider-ci/providers/* to the corresponding
# Pulumi provider. Note that this workflow does not generate any files -
# workflows must already be generated and committed to this repo when this
# workflow is run.
name: Update GH workflows, single provider
"on":
  workflow_dispatch:
    inputs:
      provider_name:
        description: The name of the provider to update - do not include the "pulumi-" prefix in the name.
        required: true
        type: string
      automerge:
        description: Mark created PRs for auto-merging?
        required: true
        type: boolean
        default: false
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN
jobs:
  deploy:
    uses: ./.github/workflows/update-workflows.yml
    secrets: inherit
    with:
      provider_name: ${{ github.event.inputs.provider_name }}
      automerge: ${{ github.event.inputs.automerge == 'true' }}
      caller_workflow: "update-workflows-single-bridged-provider"
