permissions: write-all # Equivalent to default permissions plus id-token: write
name: update-workflows

on:
  workflow_call:
    inputs:
      provider_name:
        required: true
        type: string
        description: "The short provider name, example aws for pulumi-aws, gcp for pulumi-gcp"
      caller_workflow:
        required: true
        type: string
        description: "The name of the caller workflow to label the generated PR with."
      automerge:
        description: "Mark created PRs for auto-merging?"
        required: true
        type: boolean
      downstream_test:
        description: "Whether the upgrade is a downstream test"
        type: boolean
        default: false
      skip_closing_prs:
        description: "Whether to skip closing PRs"
        type: boolean
        default: false
    outputs:
      pull_request_created:
        value: ${{ jobs.update_workflows.outputs.pull_request_created }}
        description: "Whether a PR was created"

env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt

jobs:
  update_workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@6cf9520e68354d86f81c455e8d43eabd58f5c9f5 # v1
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-auth
        with:
          app-id: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_APP_ID }}
          private-key: ${{ steps.esc-secrets.outputs.PULUMI_PROVIDER_AUTOMATION_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Clone pulumi-${{ inputs.provider_name }}
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          repository: pulumi/pulumi-${{ inputs.provider_name }}
          path: pulumi-${{ inputs.provider_name }}
          token: ${{ steps.app-auth.outputs.token }}
      - name: Clone ci-mgmt
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          path: ci-mgmt
      - name: Initialize submodule in pulumi-${{ inputs.provider_name }}
        run: cd pulumi-${{ inputs.provider_name }} && make upstream && cd ..
        continue-on-error: true
      - name: Delete existing workflows
        run: |
          rm pulumi-${{ inputs.provider_name }}/.github/workflows/cleanup-artifacts.yml || echo "not found"
          rm pulumi-${{ inputs.provider_name }}/.github/workflows/pull_request.yml || echo "not found"
          rm pulumi-${{ inputs.provider_name }}/.github/workflows/master.yml || echo "not found"
      - name: Install mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          version: 2025.12.1
          install_args: go golangci-lint
          cache_key_prefix: mise-v0-${{ inputs.provider_name}}-
          working_directory: pulumi-${{ inputs.provider_name }}
          github_token: ${{ steps.app-auth.outputs.token }}
      - name: Generate workflow files into pulumi-${{ inputs.provider_name }}
        working-directory: ci-mgmt/provider-ci
        run: |
          go run ./... generate \
                --config ../../pulumi-${{ inputs.provider_name }}/.ci-mgmt.yaml \
                --out ../../pulumi-${{ inputs.provider_name }}
      - name: Close obsolete PRs started by this workflow
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        if: ${{ !inputs.skip_closing_prs }}
        with:
          github-token: ${{ steps.app-auth.outputs.token }}
          script: |
            const regex = /Update GitHub Actions workflows/i;
            const repo = 'pulumi-${{ inputs.provider_name }}'
            console.log('Checking ' + repo);
            const { data: pullRequests } = await octokit.rest.pulls.list({
              owner: 'pulumi',
              repo: repo,
              state: 'open',
            });
            for (const pullRequest of pullRequests) {
              if (regex.test(pullRequest.title)) {
                console.log('Closing obsolete PR ' + pullRequest.number);
                await octokit.rest.pulls.update({
                  owner: 'pulumi',
                  repo: repo,
                  pull_number: pullRequest.number,
                  state: 'closed',
                });
              }
            }
      - name: Create PR
        id: create-pr
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          author: Pulumi Bot <bot@pulumi.com>
          body: "This PR was automatically generated by the ${{ inputs.caller_workflow }} workflow in the pulumi/ci-mgmt repo, from commit ${{ github.sha }}."
          branch: "update-github-actions-workflows-${{ github.run_number }}"
          committer: Pulumi Bot <bot@pulumi.com>
          commit-message: "[internal] Update GitHub Actions workflow files"
          labels: "impact/no-changelog-required"
          title: "${{ inputs.downstream_test == true && '[DOWNSTREAM TEST] ' || ''}}Update GitHub Actions workflows."
          path: pulumi-${{ inputs.provider_name }}
          token: ${{ steps.app-auth.outputs.token }}
      - name: "Set PR to auto-merge"
        if: steps.create-pr.outputs.pull-request-operation == 'created' && inputs.automerge
        # Not all providers have auto-merge enabled, and we don't want to fail providers
        # that don't have auto-merge enabled.
        #
        # After https://github.com/pulumi/home/issues/3140 is closed, we should remove
        # `continue-on-error: true`.
        continue-on-error: true
        run: "gh pr merge --auto --squash ${{ steps.create-pr.outputs.pull-request-url }}"
        env:
          GH_TOKEN: ${{ steps.app-auth.outputs.token }}
    outputs:
      pull_request_created: ${{ steps.create-pr.outputs.pull-request-operation == 'created' }}
