# Generates a PR for the files in provider-ci/providers/* to the corresponding
# Pulumi provider. Note that this workflow does not generate any files -
# workflows must already be generated and committed to this repo when this
# workflow is run.
name: Update GH workflows, single bridged provider
"on":
  workflow_dispatch:
    inputs:
      provider_name:
        description: The name of the provider to deploy - do not include the pulumi prefix in the name.
        required: true
        type: string
      automerge:
        description: Mark created PRs for auto-merging?
        required: true
        type: boolean
        default: false
env:
  GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
jobs:
  deploy:
    uses: ./.github/workflows/update-workflows.yml
    secrets: inherit
    with:
      bridged: true
      provider_name: ${{ github.event.inputs.provider_name }}
      automerge: ${{ github.event.inputs.automerge }}
      caller_workflow: "update-workflows-single-bridged-provider"
