permissions: write-all # Equivalent to default permissions plus id-token: write
# This is the version of update-bridge=all-providers.yml scoped down to Ecosystem team owned providers.
#
# Generates a PR for the files in provider-ci/providers/* to each corresponding Pulumi provider.
#
# Note that this workflow does not generate any files - workflows must already be generated and committed to this repo
# when this workflow is run.
name: Update bridge, ecosystem providers
on:
  workflow_dispatch:
    inputs:
      automerge:
        description: Mark created PRs for auto-merging?
        required: true
        type: boolean
        default: false

env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: github-secrets/pulumi-ci-mgmt
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: GITHUB_TOKEN=PULUMI_BOT_TOKEN
jobs:
  generate-providers-list:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - id: get-providers
        run: echo "providers=$(jq . providers.json --compact-output)" >> "$GITHUB_OUTPUT"
        working-directory: provider-ci
    outputs:
      providers: ${{ steps.get-providers.outputs.providers }}

  update-bridge:
    needs: generate-providers-list
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # GitHub recommends only issuing 1 API request per second, and never
      # concurrently.  For more information, see:
      # https://docs.github.com/en/rest/guides/best-practices-for-integrators#dealing-with-secondary-rate-limits
      max-parallel: 1
      matrix:
        provider: ${{ fromJson(needs.generate-providers-list.outputs.providers ) }}
    steps:
      - name: Fetch secrets from ESC
        id: esc-secrets
        uses: pulumi/esc-action@cf5b30703ffd5ad60cc3a880c09b3a9592b9372d # v1
      - name: pulumi-${{ matrix.provider }} main
        id: upgrade-on-main
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
        continue-on-error: true
        with:
            workflow: upgrade-bridge.yml
            token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
            repo: pulumi/pulumi-${{ matrix.provider }}
            inputs: '{ "automerge": true }'
            ref: main
      - name: pulumi-${{ matrix.provider }} master
        id: upgrade-on-master
        if: steps.upgrade-on-main.outcome == 'failure'
        uses: benc-uk/workflow-dispatch@e2e5e9a103e331dad343f381a29e654aea3cf8fc # v1.2.4
        with:
            workflow: upgrade-bridge.yml
            token: ${{ steps.esc-secrets.outputs.PULUMI_BOT_TOKEN }}
            repo: pulumi/pulumi-${{ matrix.provider }}
            ref: master
            inputs: '{ "automerge": true }'
      - name: Sleep to prevent hitting secondary rate limits
        run: sleep 1
